*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    direction: rtl;
}
.messages-main{
    .main-container{
        display: flex;
        background: #F2F2F2;
        .side-section{
            width: 350px;
            background: white;
            height: 100vh;
        }
        .main-section{
            width: 100%;
            padding: 15px;
            .status-bar{
                background: #F9F9F9;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 2px 10px;
                .right{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
                .left{
                    background: white;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    border-radius: 0 0 28px 0;
                    padding: 12px;
                }
            }
            .main-inner-container{
                margin-top: 30px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 15px;
                .right{
                    .search-create{
                        display: flex;
                        align-items: stretch;
                        justify-content: space-between;
                        gap: 10px;
                        .search-bar{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 15px;
                            background: white;
                            padding: 10px 15px;
                            border-radius: 12px;
                            flex: 1;
                            input{
                                border: none;
                                background: none;
                                outline: none;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                        }
                        button{
                            background: #CD9D69;
                            color: white;
                            font-family: inherit;
                            border: none;
                            outline: none;
                            border-radius: 8px;
                            padding:10px 20px;
                        }
                    }
                    .cards-container{

                        .card{
                            margin-top: 20px;
                            background: white;
                            padding: 15px 25px;
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                            gap: 70px;
                            border-radius: 12px;
                            opacity: 0.5;
                            &:nth-child(1){
                                opacity: 1;
                            }
                            .right{
                                span{
                                    padding: 8 20px;
                                    margin-left: 20px;
                                    border-radius: 5px;
                                    &:first-child{
                                        display: block;
                                        margin-bottom: 15px;
                                        padding-right: 0;
                                    }
                                    &:nth-child(2){
                                        color: white;
                                        background: #4AECA8;
                                        
                                    }
                                    &:nth-child(3){
                                        color: white;
                                        background: #FF5656;
    
                                    }
                                }
                            }   
                            .left{
                                
                            }
                        }
                    }
                }
                .left{
                    flex: 1;
                    background: white;
                    padding: 10px 20px;
                    border-radius: 16px;
                    .comment-status{
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        padding-bottom: 20px;
                        border-bottom: 1px dashed lightgray;
                        .right{
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            .icon-container{
                                background: #DCDAD9;
                                padding: 6px;
                                border-radius: 20%;
                                .img{
    
                                }
                            }
                            .texts{
                                p{
                                    margin-bottom: 10px;
                                }
                                .buttons{
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    gap: 15px;
                                    span{
                                        padding: 4px 15px;
                                        padding-left: 20px;
                                        border-radius: 6px;
                                        &:first-child{
                                            background: #4AECA8;
                                            color: white;
                                        }
                                        &:nth-child(2){
                                            background: #FF5656;
                                            color: white;
                                        }
                                        &:last-child{
                                            color: #A1A3A8;
                                        }
                                    }
                                }
                            }
                        }
                        .left-1{
                            
                        }
                    }

                    .comments{
                        .recieved-message{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-bottom: 15px;
                            p{
                                background: #F2F2F2;
                                padding: 20px;
                                border-radius: 15px 15px 15px 0;
                                display: inline-block;
                            }
                            span{
                                align-self: stretch;
                            }
                        }

                        .send-message{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-bottom: 15px;
                            p{
                                background: #29B2FE;
                                padding: 20px;
                                border-radius: 15px 15px 15px 0;
                                display: inline-block;
                                color: white;
                            }
                            span{
                                align-self: stretch;
                            }
                        }
                    }


                    .write-message{
                        border-top: 1px solid lightgray;
                        padding-top: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .right-2{
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            input{
                                border: none;
                                outline: none;
                                background: none;
                                font-family: inherit;
                                
                            }
                        }
                        .left-2{
                            display: flex;
                            align-items: center;
                            gap: 15px;
    
                        }

                    }
                }
            }
        }
    }
}